.searchbutton {
    border-radius: 15px;
    border-color:seagreen;
    width: 120px;
    background-color: rgb(243, 243, 243);
    color: seagreen;
  
}
.plusbutton{
    border-radius: 50%;
    background-color: seagreen;
    border:none
}
.accountbutton{
    background-color: dodgerblue;
    color: white;
    border: 2px solid  black;
    

}